<?php

/*
#################################################################################################################
This is an OPTIONAL configuration file.
The role of this file is to make updating of "tinyfilemanager.php" easier.
So you can:
-Feel free to remove completely this file and configure "tinyfilemanager.php" as a single file application.
or
-Put inside this file all the static configuration you want and forgot to configure "tinyfilemanager.php".
#################################################################################################################
*/

// Auth with login/password
// set true/false to enable/disable it
// Is independent from IP white- and blacklisting
$GLOBALS["use_auth"] = true;

//  Force https
$GLOBALS["force_https"] = false;

//  Display Mode (table/grid)
$GLOBALS["display_mode"] = "table";

$GLOBALS["login_image_path"] = "sample_logo.png";

$GLOBALS["app_title"] = "Tab Title";

$GLOBALS["login_text"] = "Inicio de Sesión";

$GLOBALS["footer_text"] = "Todos los derechos reservados";

// Login user name and password
// Users: array('Username' => 'Password', 'Username2' => 'Password2', ...)
// Generate secure password hash - https://tinyfilemanager.github.io/docs/pwd.html
$GLOBALS["auth_users"] = array(
    'admin' => password_hash('admin', PASSWORD_DEFAULT),
    'user' => password_hash('user', PASSWORD_DEFAULT)
);

//set application theme
//options - 'light' and 'dark'
$GLOBALS["theme"] = 'light';

// Readonly users
// e.g. array('users', 'guest', ...)
$GLOBALS["readonly_users"] = array(
    'user'
);

// Enable highlight.js (https://highlightjs.org/) on view's page
$GLOBALS["use_highlightjs"] = true;

// highlight.js style
// for dark theme use 'ir-black'
$GLOBALS["highlightjs_style"] = 'vs';

// Enable ace.js (https://ace.c9.io/) on view's page
$GLOBALS["edit_files"] = true;

// Default timezone for date() and time()
// Doc - http://php.net/manual/en/timezones.php
$GLOBALS["default_timezone"] = 'America/Managua'; // UTC

$GLOBALS["content_path"] = "content";

// Root path for file manager
// use absolute path of directory i.e: '/var/www/folder' or $_SERVER['DOCUMENT_ROOT'].'/folder'
$GLOBALS["root_path"] = $_SERVER["DOCUMENT_ROOT"] . "/" . $GLOBALS["content_path"];

// Root url for links in file manager.Relative to $http_host. Variants: '', 'path/to/subfolder'
// Will not working if $root_path will be outside of server document root
$GLOBALS["root_url"] = '';

// Server hostname. Can set manually if wrong
$GLOBALS["http_host"] = $_SERVER['HTTP_HOST'];

// user specific directories
// array('Username' => 'Directory path', 'Username2' => 'Directory path', ...)
$GLOBALS["directories_users"] = array(
    'admin' => $GLOBALS["content_path"],
    'user' => $GLOBALS["content_path"] . "/public"
);

//  OpenGraph Variables
$GLOBALS["site_metadata"] = array_merge(
    $GLOBALS["site_metadata"], // Include default configuration
    array(
        "title" => $GLOBALS["app_title"],
        "description" => "Gestor de Kits de Ensayo"
    )
);

// input encoding for iconv
$GLOBALS["iconv_input_encoding"] = 'UTF-8';

// date() format for file modification date
// Doc - https://www.php.net/manual/en/function.date.php
$GLOBALS["datetime_format"] = 'd/m/Y h:i:s a';

// Allowed file extensions for create and rename files
// e.g. 'txt,html,css,js'
$GLOBALS["allowed_file_extensions"] = 'txt,html,md,docx';

// Allowed file extensions for upload files
// e.g. 'gif,png,jpg,html,txt'
$GLOBALS["allowed_upload_extensions"] = 'pdf,mp3,txt,musx,html,mp4';

// Favicon path. This can be either a full url to an .PNG image, or a path based on the document root.
// full path, e.g http://example.com/favicon.png
// local path, e.g images/icons/favicon.png
$GLOBALS["favicon_path"] = $GLOBALS["base_url"] . 'sample_logo.png';

// Files and folders to excluded from listing
// e.g. array('myfile.html', 'personal-folder', '*.php', ...)
$GLOBALS["exclude_items"] = array(
	"*.php",
    ".ftpquota",
    ".htaccess",
);

// Online office Docs Viewer
// Availabe rules are 'google', 'microsoft' or false
// google => View documents using Google Docs Viewer
// microsoft => View documents using Microsoft Web Apps Viewer
// false => disable online doc viewer
$GLOBALS["online_viewer"] = 'google';

// Sticky Nav bar
// true => enable sticky header
// false => disable sticky header
$GLOBALS["sticky_navbar"] = true;


// max upload file size
$GLOBALS["max_upload_size_bytes"] = 0;

// Possible rules are 'OFF', 'AND' or 'OR'
// OFF => Don't check connection IP, defaults to OFF
// AND => Connection must be on the whitelist, and not on the blacklist
// OR => Connection must be on the whitelist, or not on the blacklist
$GLOBALS["ip_ruleset"] = 'OFF';

// Should users be notified of their block?
$GLOBALS["ip_silent"] = true;

// IP-addresses, both ipv4 and ipv6
$GLOBALS["ip_whitelist"] = array(
    '127.0.0.1',    // local ipv4
    '::1'           // local ipv6
);

// IP-addresses, both ipv4 and ipv6
$GLOBALS["ip_blacklist"] = array(
    '0.0.0.0',      // non-routable meta ipv4
    '::'            // non-routable meta ipv6
);

?>
